@page
@model DnAStore.Pages.User.ProfileModel

@using DnAStore.Models
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserMgr

@{
    ViewData["Title"] = "My Profile";
    Layout = "_Layout";
}

@{ 
    string nameOfCurrentUser = User.Identity.Name;
    var user = await UserMgr.FindByNameAsync(nameOfCurrentUser);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>

    <h1>Welcome, @user.FirstName!</h1>

    <div>
        <h4>User Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                First Name
            </dt>
            <dd class="col-sm-10">
                <form action="/" method="post">

                </form>
                @user.FirstName
            </dd>
            <dt class="col-sm-2">
                Last Name
            </dt>
            <dd class="col-sm-10">
                @user.LastName
            </dd>
            @*<dt class="col-sm-2">
                Username
            </dt>
            <dd class="col-sm-10">
                @user.UserName
            </dd>*@
            <dt class="col-sm-2">
                Email Address
            </dt>
            <dd class="col-sm-10">
                @user.Email
            </dd>
            @*<dt class="col-sm-2">
                <p>Last 5 Orders: </p>
            </dt>
            <dd class="col-sm-10">
                @foreach (var order in Orders)
                {
                    <h4>Product: </h4>
                    <p>Quantity: </p>
                    <p>Total Price: $ </p>
                }
            </dd>*@
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
