@model DnAStore.Models.Basket
@{
    ViewData["Title"] = "Basket";
    Layout = "_Layout";
}

<h2>Basket</h2>
<br />

@if (Model.BasketItems.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Neighborhood Name
                </th>
                <th>
                    Lot Price
                </th>
                <th>
                    Number of Lots
                </th>
                <th>
                    Item Price Subtotals
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BasketItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        <form method="post" asp-controller="Basket" asp-action="EditBasketItemQuantity" class="checkout-form">
                            <input type="number" name="qty" value="@item.Quantity" />
                            <button type="submit" name="basketItemId" value="@item.ID" class="btn">Update</button>
                        </form>
                    </td>
                    <td>
                        $@(item.Product.Price * item.Quantity)
                    </td>
                    <td>
                        <form method="get" asp-controller="Shop" asp-action="Details" asp-route-id="@item.Product.ID">
                            <button type="submit" class="btn">Details</button>
                        </form>

                        <form method="post" asp-action="RemoveBasketItem">
                            <button type="submit" name="basketItemId" value="@item.ID" class="btn">Delete Item</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p><strong>Subtotal: $@Model.Subtotal</strong></p>
                </td>
            </tr>
        </tfoot>
    </table>
    <div>
        <form method="post" asp-controller="Checkout" asp-action="ShippingDetails">
            <button type="submit" name="username" value="@Model.UserName" class="btn">Checkout</button>
        </form>
    </div>

}
else
{
    <span>Your basket is currently empty</span>
}
