@page
@model DnAStore.Pages.Admin.DashboardModel

@using DnAStore.Models.Interfaces
@inject IOrderManager Orders

@{ 
    var orders = Orders.GetAllOrders();
    var lastTenOrders = orders.OrderByDescending(order => order.ID)
                              .Take(10);
}

@{
    ViewData["Title"] = "Admin";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>

    <h3>Manage Products</h3>
    <hr />
    <a asp-page="/Admin/Index" class="btn">Products</a>
 
    <h3>Recent Orders</h3>
    @foreach (var order in lastTenOrders)
    {
        <hr />

        <p><strong>@order.OrderDateTime</strong></p>
        <p>Order #@order.TransactionNumber</p>
        <p>Customer: @order.LastName, @order.FirstName</p>
        @*<table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Item Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var oi in order.OrderItems)
                {
                    <tr>
                        <td>@oi.Product.Name</td>
                        <td>@oi.Quantity</td>
                        <td>$@oi.Product.Price</td>
                    </tr>
                }
            </tbody>
        </table>*@
        <p>Order total: $@order.FinalTotal</p>
    }

</body>
</html>
