@model DnAStore.Models.ViewModels.DetailsViewModel
@{
    ViewData["Title"] = "Product Details";
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(vm => vm.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(vm => vm.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(vm => vm.Product.Description)
            </th>
            <th>
                @Html.DisplayNameFor(vm => vm.Product.Image)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @*<td>
                <img src="@Html.DisplayFor(p => p.Image)" title="@Html.DisplayFor(p => p.Name)" width="200" />
            </td>*@
            <td>
                @Html.DisplayFor(vm => vm.Product.Name)
            </td>
            <td>
                $@Html.DisplayFor(vm => vm.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(vm => vm.Product.Description)
            </td>
            <td>
                <form asp-action="AddToBasket">
                    <input type="hidden" asp-for="Username" value="@User.Identity.Name" readonly />
                    @*<input type="hidden" asp-for="" readonly />*@
                    <input type="submit" value="AddToBasket" class="btn btn-danger" /> |
                    <a asp-action="Shop">Back to Shopping</a>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<img src="@Html.DisplayFor(vm => vm.Product.Image)" title="@Html.DisplayFor(vm => vm.Product.Name)" width="680" />
