@using Microsoft.AspNetCore.Identity
@using DnAStore.Models
@model DnAStore.Models.Product

@*@model DnAStore.Models.ViewModels.DetailsViewModel*@
@{
    ViewData["Title"] = "Product Details";
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(p => p.Name)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.Price)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.Description)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.Image)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @*<td>
                <img src="@Html.DisplayFor(p => p.Image)" title="@Html.DisplayFor(p => p.Name)" width="200" />
            </td>*@
            <td>
                @Html.DisplayFor(p => p.Name)
            </td>
            <td>
                $@Html.DisplayFor(p => p.Price)
            </td>
            <td>
                @Html.DisplayFor(p => p.Description)
            </td>
            <td>
                <form method="post" asp-controller="Basket" asp-action="AddToBasket">
                    <input type="hidden" name="username" value="@User.Identity.Name" readonly />
                    <input type="hidden" name="productId" value="@Model.ID" readonly />
                    <button type="submit" value="AddToBasket" class="btn btn-danger">Add to Basket</button>
                    <a asp-action="Shop">Back to Shopping</a>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<img src="@Html.DisplayFor(p => p.Image)" title="@Html.DisplayFor(p => p.Name)" width="680" />
